<!doctype html>

<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <div>
        <h1 id="top_logo">
            [thehopbook]
        </h1>
    </div>
    <title>{% block title %}{% endblock %} - [thehopbook]</title>
    {% endblock %}
</head>
<body>
    {% if current_user.is_authenticated %}
    <div id="logout">
        <a href="{{ url_for('logout') }}">logout</a>
    </div>
    {% endif %}

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <br>
        &copy; Copyright 2018 by <a href="https://semester.ly">Semester.ly</a>.
        <br>
        <a href="https://github.com/mnm364/thehopbook">Source</a>.
        {% endblock %}
    </div>
</body>
</html>
