.login-div {
    clear: both;
    border-style: dashed;
    border-width: 1px;
    border-color: #3B5998;
    width: 20%;
    height: 200px;
    float: left;
    overflow: hidden;
    padding: 10px;
}

.login-info {
    border-style: ridge;   
    border-width: 2px;
    float: left;
    width: 75%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.login-info-top-bar {
    background-color: #3B5998;
    color: #FFFFFF;
    padding: 4px;
    margin-left: -10px;
    margin-right: -10px;
}

#welcome {
    text-align: center;
}